.Addbtn-Link {

    position: absolute;
      color: rgb(250, 247, 247);
      left: 75rem;
      height: 3rem;
      width: 5rem;
      top: 140px;
      border: none;
      background-color: var(--base-clr);
      box-shadow: 2px 2px;
      border-radius: 10px 60px;
      font-weight: bold;
      font-size:10px;
      cursor: pointer;
      
  }
  
  table {
    position: absolute;
      width: 75%;
      left: 17.4rem;
      border-collapse: collapse;
      margin-bottom: 20px;
      background-color: white;
      border: 1px solid #3a1111;
      text-align: center;
      border-radius: 10px;
      top: 220px;
  }
  th, td {
      padding: 10px;
      border-bottom: 1px solid #f7d2d2;
      
  }
  
  th {
      background-color:var(--base-clr);
      color: white;
      font-size: large;
  }
  td{
    color: var(--base-clr);
    background-color: white;
    font-weight: bolder;
  }
  
  .modal-Link {
    height: 20rem;
    width: 22em;
    background-color: var(--base-clr);
    padding: 20px;
    position: absolute;
    top: 100px;
    border: 1px solid #888;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 50px 10px 20px;
    left: 30rem;
    position: fixed;
    
   }
   
  
   .modal-Link {
    display: none;
  }
  
  /* .show-Links-modal{
    display: block;
  } */
   .modal-Link h2{
     position: relative;
     text-align: center;
     font-size: x-large;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: bold;
     color: var(---body-bng);
     
   }
  
   .modal-Link form{
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    margin-top: 24px;
    
    
   }
   .modal-Link label{
    margin-bottom: 5px;
    font-weight: bold;
  
   }
   .modal-Link input {
    border-radius: 10px;
    height: 25px;
   }
  .modal-Link select{
    border-radius: 10px;
    height: 25px;
  }
 
  
   
  
   .modal-Link .button-group{
    position: absolute;
    bottom: 0px;
    right: 2px;
  
   }
  
   .button-group button{
    width: 70px;
    height: 30px;
    background-color: var(---body-bng);
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    font-size: small;
    font-weight: bold;
  
   }
   .close{
    color: var(---body-bng);
    float: right;
    font-size: 30px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }